/* Etiquetas normales */

body {
    background-color: #f2f7f7;
}

footer {
    background-color: #f2f7f7;
}

.icon1 {
    width: 71;
    height: 65;
}

.panel1 {
    background-color: #f2f7f7;
}

.icon1 {
    margin-left: 15%;
    margin-top: 20%;
}

.mainImage {
    margin-left: 23%;
}

.cardFonts {
    color: #fff;
    font-size: 24px;
}

.cardHeader {
    color: #fff;
}


/* .section2 {
    padding-top: 3%;
} */


/* .cards {
    width: 100%;
    height: auto;
} */

.card1Assets {
    background-color: #c09769;
}

.card2Assets {
    background-color: #a7ceef;
}

.card3Assets {
    background-color: #acb5ac;
}

.lineStyle {
    border-color: #fff;
    width: 50%;
}

.fowardArrow {
    margin-top: 2%;
    margin-left: 5%;
    height: 5%;
    width: 5%;
}

.bigCard {
    background-color: #c9a3a4;
    padding-top: 3%;
    padding-bottom: 3%;
}

.text {
    color: #fff;
    margin-left: 5%;
    margin-top: 5%;
}

.lineStyle2 {
    border-color: #fff;
    margin-right: 50%;
}

.BigCardfont {
    font-size: 20px;
}

.cardFonts2 {
    color: #fff;
    margin-top: 10%;
    font-size: 24px;
}

.fowardArrow2 {
    margin-top: -13%;
    margin-left: 20%;
    height: 5%;
    width: 5%;
}

.footerStyle {
    background-color: #f2f7f7;
}

.icon2 {
    width: 71;
    height: 65;
    margin-left: 4%;
    margin-top: 2%;
}

.footerFont {
    color: #858585;
    vertical-align: middle;
}

.headerText {
    margin-top: 10%;
    color: #0b2436;
    margin-left: 5%;
}

.headerText2 {
    margin-top: 10%;
    color: #fff;
    margin-left: 5%;
}

.headerTextCustomization {
    margin-top: 10%;
    font-size: 26px;
}

.fowardArrow3 {
    margin-left: 0%;
    height: 2%;
    width: 2%;
}

.smallLink {
    text-decoration: none;
    color: #858585;
    margin-left: 50%;
    margin-right: 4%;
}

.smallLink2 {
    text-decoration: none;
    color: #fff;
    margin-left: 50%;
    margin-right: 4%;
}

.background {
    background-image: url("/img/faker.png");
    background-color: #f2f7f7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.background2 {
    background-image: url("/img/test.PNG");
    background-color: #c09769;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.background3 {
    background-image: url("/img/test.PNG");
    background-color: #a7ceef;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.background4 {
    background-image: url("/img/test.PNG");
    background-color: #acb5ac;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.background5 {
    background-image: url("/img/test.PNG");
    background-color: #c9a3a4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hugeCard {
    background-color: #f2f7f7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paragraph {
    color: #000;
    width: auto;
}

.lineStyle2 {
    border-width: auto;
}

.membersImage {
    height: 40%;
    width: auto;
    margin-right: 50%;
    margin-top: 30%;
}